@model List<Biljeska>
@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>

        a:hover, a.ex1:active {
            color: red;
            text-decoration: underline;
        }
    </style>
</head>


<body>
    @foreach (var o in Model)
    {


        
                <article>

                    <h2>
                        @*index -> funkcija, Gljiva -> Kontroler *@
                        <a href="@Url.Action("NekaBiljeska", "Biljeska", new { id = o.IdBiljeski })">@o.Naziv</a>
                    </h2>


                    <p>@o.Biljeska1</p>
                    <br><hr><br>
                </article>
        

    }
</body>